{% extends "base.html" %}

{% load static %}

{% block title %}Article{% endblock %}

{% block extrastyles %}
<link href="{% static 'css/article.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- choose mark section start -->

    {% include 'section_mark.html' %}
    <!-- choose mark section end -->

    <!-- main section start -->

    <section class="main-section">
        <div class="container">
            <!-- breadcrumbs start -->

            <section class="breadcrumbs">
                <a href="{% url 'home' %}" class="step main">Главная</a>
                <a href="{% url 'blog' %}" class="step">Новости</a>
            </section>

            <!-- breadcrumbs end -->

            <div class="content">
                <article class="article">
                    <div class="article__top">
                        <div class="left">
                            <h1>{{ article.title }}</h1>
                            <div class="date">
                                <img src="{% static 'img/calendar-with-a-clock-time-tools.png' %}" alt="calendar-with-a-clock-time-tools">
                                <span>{{ article.date|date:"d.m.Y" }}</span>
                            </div>
                        </div>
                        <div class="right">
                        {% for obj in social_nets %}
                            <a href="{{ obj.link }}">
                                <img src="{{ obj.image.url }}" alt="instagram">
                            </a>
                        {% endfor %}
                        </div>
                    </div>
                    <img src="{{ article.image.url }}" alt="article image">
                    <div>
                        {{ article.content|safe }}
                    </div>
                </article>
            </div>

        </div>
    </section>

    <!-- main section end -->
{% endblock %}

{% block extrascrypts %}
<script type="text/javascript" src="{% static 'js/article.js' %}"></script>
{% endblock %}
</html>