{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
Carav
{% endblock title %}

{% block content %}

    <!--slider start-->
    <div class="slider-section">

        <div class="slider ">

            <div class="slide" style="background-image:url({% static 'img/slider-img.png' %})">
                <div class="wrapper">
                    <p>Официальный интернет-магазин</p>
                    <p><span>carav.com.ua</span> на территории</p>
                    <p>Украины</p>
                </div>
            </div>

            <div class="slide" style="background-image:url({% static 'img/slider-img.png' %})">
                <div class="wrapper">
                    <p>Официальный интернет-магазин</p>
                    <p><span>carav.com.ua</span> на территории</p>
                    <p>Украины</p>
                </div>
            </div>

            <div class="slide" style="background-image:url({% static 'img/slider-img.png' %})">
                <div class="wrapper">
                    <p>Официальный интернет-магазин</p>
                    <p><span>carav.com.ua</span> на территории</p>
                    <p>Украины</p>
                </div>
            </div>

            <div class="slide" style="background-image:url({% static 'img/slider-img.png' %})">
                <div class="wrapper">
                    <p>Официальный интернет-магазин</p>
                    <p><span>carav.com.ua</span> на территории</p>
                    <p>Украины</p>
                </div>
            </div>

        </div>

        <a href="#!" class="slider-section__arrows slider-section__arrows--prev"><i class="fa fa-angle-left fa-4x" aria-hidden="true"></i></a>
        <a href="#!" class="slider-section__arrows slider-section__arrows--next"><i class="fa fa-angle-right fa-4x" aria-hidden="true"></i></a>
        <div class="slider-section__pag-wrap">
            <!--<a href="#!" class="slider-section__pag"></a>
            <a href="#!" class="slider-section__pag"></a>
            <a href="#!" class="slider-section__pag"></a>
            <a href="#!" class="slider-section__pag"></a>-->
        </div>
    </div>
    <!--slider end-->

    <!--new arrivals start-->
    <div class="new-arrivals">
        <div class="wrapper">
            <h1 class="new-arrivals__title">Новые поступления</h1>

            <!--arrivals wrap start-->
            <div class="arrivals-list-wrap">

                <ul>
                    <li>
                        <div class="product">
                            <p class="product__code">Код товара: 11-041</p>
                            <div class="product__img">
                                <img src="{% static 'img/product-img.png' %}" alt="product-img.png">
                            </div>
                            <p class="product__title">Переходник ISO BMW, Land Rover,<br> Rover, Mini Carav 12-003</p>
                            <p class="product__available">есть в наличии</p>
                            <p class="product__ppc">РРЦ: 1989 грн</p>
                            <p class="product__price">19 <span>$</span></p>
                            <a href="#!" class="product__buy-btn">Купить</a>
                            <div class="product__additional-info">
                                <table>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>X5 (E53) 1999-2001</td>
                                        <td>X5 (E53) 1999-2001</td>
                                    </tr>
                                    <tr>
                                        <td>Z3 1995-2002</td>
                                        <td>Z3 1995-2002</td>
                                    </tr>
                                    <tr>
                                        <td>Z8 2000-2003</td>
                                        <td>Z8 2000-2003</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <p class="product__code">Код товара: 11-041</p>
                            <div class="product__img">
                                <img src="{% static 'img/product-img.png' %}" alt="product-img.png">
                            </div>
                            <p class="product__title">Переходник ISO BMW, Land Rover,<br> Rover, Mini Carav 12-003</p>
                            <p class="product__available">есть в наличии</p>
                            <p class="product__ppc">РРЦ: 1989 грн</p>
                            <p class="product__price">19 <span>$</span></p>
                            <a href="#!" class="product__buy-btn">Купить</a>
                            <div class="product__additional-info">
                                <table>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>X5 (E53) 1999-2001</td>
                                        <td>X5 (E53) 1999-2001</td>
                                    </tr>
                                    <tr>
                                        <td>Z3 1995-2002</td>
                                        <td>Z3 1995-2002</td>
                                    </tr>
                                    <tr>
                                        <td>Z8 2000-2003</td>
                                        <td>Z8 2000-2003</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <p class="product__code">Код товара: 11-041</p>
                            <div class="product__img">
                                <img src="{% static 'img/product-img.png' %}" alt="product-img.png">
                            </div>
                            <p class="product__title">Переходник ISO BMW, Land Rover,<br> Rover, Mini Carav 12-003</p>
                            <p class="product__available">есть в наличии</p>
                            <p class="product__ppc">РРЦ: 1989 грн</p>
                            <p class="product__price">19 <span>$</span></p>
                            <a href="#!" class="product__buy-btn">Купить</a>
                            <div class="product__additional-info">
                                <table>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>X5 (E53) 1999-2001</td>
                                        <td>X5 (E53) 1999-2001</td>
                                    </tr>
                                    <tr>
                                        <td>Z3 1995-2002</td>
                                        <td>Z3 1995-2002</td>
                                    </tr>
                                    <tr>
                                        <td>Z8 2000-2003</td>
                                        <td>Z8 2000-2003</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <p class="product__code">Код товара: 11-041</p>
                            <div class="product__img">
                                <img src="{% static 'img/product-img.png' %}" alt="product-img.png">
                            </div>
                            <p class="product__title">Переходник ISO BMW, Land Rover,<br> Rover, Mini Carav 12-003</p>
                            <p class="product__available">есть в наличии</p>
                            <p class="product__ppc">РРЦ: 1989 грн</p>
                            <p class="product__price">19 <span>$</span></p>
                            <a href="#!" class="product__buy-btn">Купить</a>
                            <div class="product__additional-info">
                                <table>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>X5 (E53) 1999-2001</td>
                                        <td>X5 (E53) 1999-2001</td>
                                    </tr>
                                    <tr>
                                        <td>Z3 1995-2002</td>
                                        <td>Z3 1995-2002</td>
                                    </tr>
                                    <tr>
                                        <td>Z8 2000-2003</td>
                                        <td>Z8 2000-2003</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <p class="product__code">Код товара: 11-041</p>
                            <div class="product__img">
                                <img src="{% static 'img/product-img.png' %}" alt="product-img.png">
                            </div>
                            <p class="product__title">Переходник ISO BMW, Land Rover,<br> Rover, Mini Carav 12-003</p>
                            <p class="product__available">есть в наличии</p>
                            <p class="product__ppc">РРЦ: 1989 грн</p>
                            <p class="product__price">19 <span>$</span></p>
                            <a href="#!" class="product__buy-btn">Купить</a>
                            <div class="product__additional-info">
                                <table>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>X5 (E53) 1999-2001</td>
                                        <td>X5 (E53) 1999-2001</td>
                                    </tr>
                                    <tr>
                                        <td>Z3 1995-2002</td>
                                        <td>Z3 1995-2002</td>
                                    </tr>
                                    <tr>
                                        <td>Z8 2000-2003</td>
                                        <td>Z8 2000-2003</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <p class="product__code">Код товара: 11-041</p>
                            <div class="product__img">
                                <img src="{% static 'img/product-img.png' %}" alt="product-img.png">
                            </div>
                            <p class="product__title">Переходник ISO BMW, Land Rover,<br> Rover, Mini Carav 12-003</p>
                            <p class="product__available">есть в наличии</p>
                            <p class="product__ppc">РРЦ: 1989 грн</p>
                            <p class="product__price">19 <span>$</span></p>
                            <a href="#!" class="product__buy-btn">Купить</a>
                            <div class="product__additional-info">
                                <table>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>3 Series (E30) 1987-1990</td>
                                        <td>3 Series (E30) 1987-1990</td>
                                    </tr>
                                    <tr>
                                        <td>X5 (E53) 1999-2001</td>
                                        <td>X5 (E53) 1999-2001</td>
                                    </tr>
                                    <tr>
                                        <td>Z3 1995-2002</td>
                                        <td>Z3 1995-2002</td>
                                    </tr>
                                    <tr>
                                        <td>Z8 2000-2003</td>
                                        <td>Z8 2000-2003</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
            <!--arrivals wrap end-->

        </div>
    </div>
    <!--new arrivels end-->

    <!--dealer start-->
    <div class="dealer-section">

        <div class="wrapper">

            <div class="info-block">

                <h2>СТАТЬ ДИЛЕРОМ</h2>

                <p>Официальный интернет-магазин <a href="#!">carav.com.ua</a> представляет полный ассортимент автомобильного
                    доп. оборудования бренда CARAV на территории Украины, а так же является эксклюзивным представителем ТМ:
                    ACV, AWM, Clayton, Metra, Scosche.</p>

                <p>Более 1000 наименований продукции: переходные рамки, ISO-переходники, рулевые адаптеры, разъемы для магнитол,
                    адаптеры активации штатных усилителей, различный монтажный инструмент и прочие необходимые расходные
                    материалы для качественной установки аудио-видео аппаратуры в современные автомобили. </p>

                <p>Наша компания готова предложить вам лучшие цены на оригинальную продукцию CARAV, ACV, AWM, Clayton, Metra,
                    Scosche с оперативной доставкой по всей Украине.</p>

                <p>Приглашаем к сотрудничеству установочные центры, магазины автозвука и дилерские центры – для вас мы подготовили
                    специальные оптовые цены!</p>

                <p>С уважением,<br> Коллектив интернет-магазина carav.com.ua</p>

            </div>

            <div class="dealer-section__img-block">
                <img src="{% static '/img/dealer.png' %}" alt="dealer.png">
            </div>

        </div>
    </div>
    <!--dealer end-->
{% endblock content %}
