{% extends "base.html" %}

{% load solo_tags %}

{% load humanize %}

{% load custom_filters %}

{% load custom_tags %}

{% load static %}


{% block extrastyles %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if request.GET.status_message %}
        <div>{{request.GET.status_message}}</div>
    {% endif %}
    <!-- main section start -->
    <main class="main-section">
        <section class="container">
            <div class="content masonry-container">
                <div class="choose-mark-search masonry-item">
                    <div class="choose-mark-search__content">
                        <p class="choose-mark-search__title">Выберите марку вашего автомобиля</p>
                        <form action="" name="choose-mark">
                            {% csrf_token %}
                            <select type="text" class="select" data-url="{% url 'car_select' %}" data-name="model" name="" id="stamp_cars" placeholder="Марка автомобиля">
                                <option value="0" >Марка автомобиля</option>
                                {% for obj in stamp_cars %}
                                    <option value="{{ obj.id }}">{{ obj.name }}</option>
                                {% endfor %}
                            </select>
                            <select type="text" class="select" data-url="{% url 'car_select' %}" data-name="year" name="" id="model_cars" placeholder="Модель автомобиля">
                                {% model_cars_generate model_cars %}                                
                            </select>
                            <select type="text" class="select" name="" id="year_cars" placeholder="Год выпуска автомобиля">
                                {% year_cars_generate year_cars %}
                            </select>
                            <button type="submit" class="btn">
                                <div class="img-wrap">
                                    <svg class="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                                        x="0px" y="0px" viewBox="0 0 250.313 250.313" style="enable-background:new 0 0 250.313 250.313;"
                                        xml:space="preserve" width="512px" height="512px">
                                        <g id="Search">
                                            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76   c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911   c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38   c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146   c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236   C170.146,140.044,140.043,170.146,102.911,170.146z"
                                                fill="#FFFFFF" />
                                        </g>
                                    </svg>
                                </div>
                                <div class="text">
                                    Найти запчасти
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
                {% for obj in landing_products %}
                {% if forloop.counter == 1 %}
                <div class="ramki shadow masonry-item" style="background-image: url({{ obj.image.url }});" >
                    <p class="title">{{ obj.category.name }}</p>
                {% elif forloop.counter == 2 %}
                <div class="accessories shadow masonry-item" style="background-image: url({{ obj.image.url }});" >
                    <p class="accessories__title">{{ obj.category.name }}</p>  
                {% elif forloop.counter == 3 %}
                <div class="razemi shadow masonry-item" style="background-image: url({{ obj.image.url }});" >
                    <p class="razemi__title">{{ obj.category.name }}</p>   
                {% elif forloop.counter == 4 %}
                <div class="adapteri-na-rule shadow masonry-item" style="background-image: url({{ obj.image.url }});" >
                    <p class="adapteri-na-rule__title">{{ obj.category.name }}</p>
                {% elif forloop.counter == 5 %}
                <div class="zvuk shadow masonry-item" style="background-image: url({{ obj.image.url }});" >
                    <p class="zvuk__title">{{ obj.category.name }}</p>
                {% endif %}
                {% if not obj.categoty.link %}
                    <a href="#!" class="link">{{ obj.button_text }}
                {% else %}
                    <a href="{{ obj.category.link }}" class="link">{{ obj.button_text }}
                {% endif %}
                        {% include "right_arrow.html" %}
                    </a>
                </div>
                {% endfor %}
                <div class="popular-products shadow masonry-item">
                    <p class="title">Популярные товары</p>
                    <div class="slider-wrap">
                        <div class="popular-slider">
                        {% for obj in products_pop %}
                            <div class="slide">
                                <img src="{{ pop_images|get_first_image_url:obj.product.id }}" alt="">
                                <div class="slide__info">
                                    <p class="slide__info__title">{{ obj.product.category.name }}</p>
                                    <div class="slide__info__name">{{ obj.product.information|safe }}</div>
                                    <div class="price-wrap">
                                    {% if obj.product.discount %}
                                        <div class="price">
                                        {% with discount_obj=obj.product.discount %} 
                                            {% if obj.product.currency %}
                                                {{ discount_obj.get_new_convert_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} грн
                                            {% else %}
                                                 {{ discount_obj.get_new_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} $
                                            {% endif %}
                                        {% endwith %}
                                        </div>
                                    {% else %}
                                        <div class="price">
                                        {% if obj.product.currency %}
                                            {{ obj.product.get_convert_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} грн
                                        {% else %}
                                            { obj.product.ppc_price|floatformat:2|intcomma|replace_comma_with_space }} $
                                        {% endif %}
                                        </div>
                                    {% endif %}
                                    <form method="post">
                                    {% csrf_token %}
                                            <a class="buy" href="#!" id="add_product" data-url="{% url 'basket_session' %}"  data-product="{{ obj.product.id }}" >
                                                <span>В корзину</span>
                                                {% include "basket_icon.html" %}
                                            </a>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <div class="nav" id="slider-nav">
                            <a href="#!" class="arrow-prev" id="arrow-prev">
                                {% include "left_arrow.html" %}
                                <span>Предыдущий</span>
                            </a>
                            <a href="#!" class="arrow-next" id="arrow-next">
                                <span>Следующий</span>
                                {% include "right_arrow.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- main section end -->

    <!-- sales section start -->

    <section class="sales-section">
        <div class="container">
            <div class="content">
                <div class="stock">
                    <div class="stock__content">Акционные
                        <br>предложения</div>
                </div>
                <div class="tovar-list" id="sales-slider">
                {% for obj in products_disc %}
                    <div class="tovar">
                        <a href="#!" class="tovar__top-title">{{ obj.product.category.name }}</a>
                        <div class="tovar__img-wrap">
                        {% if forloop.last %}
                            <div class="tovar__sale">Акция!</div>
                        {% endif %}
                            <img class="tovar__img" src="{{ disc_images|get_first_image_url:obj.product.id }}" alt="ramki.png">
                        {% if obj.product.credit %}
                            <div class="tovar__credit"> Кредит {{ obj.product.credit }}%</div>
                        {% endif %}
                        </div>
                        <div class="tovar__title">{{ obj.product.information|safe }}
                        </div>
                        <div class="tovar__middle-line">
                            <div class="code">Код: {{ obj.product.code }} </div>
                            <div class="available">
                            {% if obj.product.available %}
                                {% include "check_mark.html" %}
                            {% endif %}
                                <span>В наличии</span>
                            </div>
                        </div>
                        <div class="tovar__old-price">
                            {% if obj.product.currency %}
                                {{ obj.product.get_convert_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} грн
                            {% else %}
                                {{ obj.product.ppc_price|floatformat:2|intcomma|replace_comma_with_space }} $
                            {% endif %}
                        </div>
                        <div class="tovar__price-line">
                            <div class="price" >
                            {% if obj.product.currency %}
                                {{ obj.get_new_convert_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} грн
                            {% else %}
                                {{ obj.get_new_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} $
                            {% endif %}
                            </div>
                        </div>
                        <form method="post">
                            <a href="#!" class="tovar__basket" data-url="{% url 'basket_session' %}" data-product="{{ obj.product.id }}" >
                                <span>В корзину</span>
                                {% include "basket_icon.html" %}
                            </a>
                        </form>
                        <div class="tovar__additions">
                            <ul>
                            {% for model in obj.product.get_compatibility_models %}
                                <li>
                                    <a>{{ model.name }} {{ model|get_first_last_years }}</a>
                                </li>
                                {% if forloop.counter == 8 %}
                                    </ul>
                                    <ul>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                    <div class="sales-block">
                        <div class="sales-block__title">
                            МЫ ДАРИМ
                        </div>
                        <div class="sales-block__percent">5%</div>
                        <div class="sales-block__bottom">
                            СКИДКИ НА ВСЕ ТОВАРЫ
                        </div>
                        <a href="{% url 'catalog' %}" class="link">Подробнее
                            {% include "right_arrow.html" %}
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- sales section end -->

    <!-- news section start -->

    <section class="news-section">
        <div class="container">
            <div class="content">
                <div class="title-line">
                    <h2 class="title-line__title">Последние новости</h2>
                    <a class="link" href="{% url 'blog' %}">Все новости
                        {% include "right_arrow.html" %}
                    </a>
                </div>
                <div class="news-grid">
                {% for obj in news %}
                    <article class="news-block">
                        <div class="news-block__img-wrap">
                             <img src="{{ obj.image.url }}" style="height: 140px;" alt=""> 
                        </div>
                        <a href="{% url 'article' obj.id %}" class="news-block__title">
                            <span>{{ obj.title }}</span>
                        </a>
                        <a href="{% url 'article' obj.id %}" class="news-block__text">{{ obj.content|get_few_words:"0,5"|safe }}...</a>
                        <div class="news-block__date">
                            <img src="{% static 'img/calendar-with-a-clock-time-tools.png' %}" alt="calendar">
                            <a href="{% url 'article' obj.id %}" class="news-block__date__link">{{ obj.date|date:"d.m.Y" }}</a>
                        </div>
                    </article>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- news section end -->

    <!-- dealer section start -->

    <section class="dealer-section">
        <div class="container">
            {% get_solo 'content.DealerSection' as dealer %}
            <div class="content">    
                <a href="{{ dealer.link }}" class="title">
                    <span class="top">{{ dealer.title|get_few_words:"0,1" }}</span>
                    <span class="bottom">
                        {{ dealer.title|get_few_words:"2" }}
                        <span class="carav">{{ dealer.title|get_few_words:"3" }}</span>
                        <span class="question">{{ dealer.title|get_few_words:"4" }}</span>
                    </span>
                </a>
                <div class="information">
                    {{ dealer.content| safe }}
                <p>
                    <br/>
                    {{ dealer.footer| safe }}
                </p>
                </div>
                <img class="dealer-user" src="{% static 'img/dealer-user.png' %}" alt="dealer.png">
            </div>
        </div>
    </section>

    <!-- dealer section end -->
{% endblock %}
{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
