{% extends 'lk_base.html' %}

{% load static %}

{% block title %}LK Change Password{% endblock %}

{% block extrastyles %}
<link href="{% static 'css/lk.change.password.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% if request.GET.status_message %}
        <div>{{request.GET.status_message}}</div>
{% endif %}
<div></div>
                    <div class="change-password-block">
                        <p class="change-password-block__title">Смена пароля</p>
                        <form action="{% url 'change_pass' %}" method="post" class="change-password-form">
                        {% csrf_token %}
                            <p class="input-wrap"><label for="old_pass">Старый пароль:</label><input type="password" name="old_pass" id="old_pass"></p>
                            <span class='help-block'>{{ errors.old_pass }}</span>

                            <p class="input-wrap"><label for="new_pass">Новый пароль:</label><input type="password" name="new_pass" id="new_pass"></p>
                            <span class='help-block'>{{ errors.new_pass }}</span>
                            <span class='help-block'>{{ errors.pass }}</span>
                            
                            <p class="input-wrap"><label for="repeat">Повторите пароль:</label><input type="password" name="repeat" id="repeat"></p>
                            <span class='help-block'>{{ errors.pass }}</span>
                            
                            <p class="submit-wrap">
                                <button type="submit" id="submit">Изменить пароль</button>
                            </p>
                        </form>
                    </div>
{% endblock %}

{% block extrascripts %}                  
<script type="text/javascript" src="js/lk.change.password.js"></script>
{% endblock %}
