{% extends 'lk_base.html' %}

{% load static %}

{% load solo_tags %}

{% load humanize %}

{% load custom_filters %}

{% block title %}LK Personal Information{% endblock %}

{% block extrastyles %}
<link href="{% static 'css/lk.personal.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
                    <div class="personal-information-block">
                        <div class="section">
                            <div class="section__top-line">
                                <div class="title">Основная информация</div>
                                <div class="wrap">
                                    <a href="#!" class="link edit">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 490.6 490.6" style="enable-background:new 0 0 490.6 490.6;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path d="M28.1,89.564h203.8c-8.7,8.7-17.3,17.4-26,26.1l-30,30.1H56.1v288.4h288.4v-119.9c18.7-18.7,37.4-37.4,56.1-56.1v204
			                                        c0,15.5-12.6,28.1-28.1,28.1H28.1c-15.5,0-28.1-12.6-28.1-28.1v-344.6C0,102.064,12.6,89.564,28.1,89.564z M484.9,72.464
			                                        c3,6.8,3.8,14.5,5.7,21.8c-0.5,5.8-2.5,10.3-6.6,14.3c-82.8,82.7-165.6,165.4-248.3,248.3c-3.2,3.2-6.7,5-11,5.9
			                                        c-35.7,7.5-71.4,15-107.1,22.6c-8.4,1.8-14.7-4.5-12.9-12.9c7.6-36,15.1-72,23-107.9c0.8-3.5,2.9-7.2,5.4-9.8
			                                        c23.7-24,47.6-47.8,71.4-71.6c58.9-58.9,117.8-117.8,176.6-176.8c4.3-4.4,9.1-6.6,14.9-5.9c6.6,0.8,13.5,1.5,19.6,4
			                                        C447.9,17.564,470.9,40.664,484.9,72.464z M212.6,340.264c-1.6-5.3-2.5-11-5.1-15.8c-10.1-18.7-24.6-33.1-43.7-42.6
			                                        c-5.4-2.7-11.1-4.4-17.7-3.8c-3.2,15.1-6.5,29.8-9.4,44.6v0.1c15.7,2.7,28.2,14.9,31.3,30.5c13.9-2.8,27.7-5.9,41.6-8.7
			                                        C212.3,344.064,213.3,342.764,212.6,340.264z" />
                                                </g>
                                            </g>
                                        </svg>
                                        <span>Редактирование данных</span>
                                    </a>
                                    <a href="{% url 'change_pass' %}" class="link change-pass">
                                        <svg class="key" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" viewBox="0 0 516.4 516.4" style="enable-background:new 0 0 516.4 516.4;"
                                            xml:space="preserve">
                                            <path class="st0" d="M401.6,172.1c32.5,0,57.4-24.9,57.4-57.4s-24.9-57.4-57.4-57.4s-57.4,24.9-57.4,57.4S369.1,172.1,401.6,172.1z"
                                            />
                                            <path d="M176,337.6l18.9-36.9c4.6-8.9,13.6-14.4,23.5-14.6l0.1,0h0.1h0.1c7.3,0,14.1,2.9,19.1,7.9c27-30.2,65.9-48.1,107.4-48.1
	                                        c22.4,0,43.9,5.1,63.8,15.3c15.7,8,29.9,18.8,41.7,31.9c39.8-29.6,65.6-77,65.6-130.6C516.4,72.7,443.7,0,353.8,0
	                                        c-89.9,0-162.6,72.7-162.6,162.6c0,19.1,3.8,38.3,9.6,57.4L0,420.8v95.6h95.6V459H153v-57.4h45l-21.6-38.7
	                                        C172,355,171.9,345.6,176,337.6z M401.6,57.4c32.5,0,57.4,24.9,57.4,57.4s-24.9,57.4-57.4,57.4s-57.4-24.9-57.4-57.4
	                                        S369.1,57.4,401.6,57.4z" />
                                            <g>
                                                <g>
                                                    <g>
                                                        <g>
                                                            <path d="M490.5,429.2l-27.2-48.9c-1.3-2.4-4-3.8-6.7-3.5l-55.7,6.3c-2.3,0.3-4.3,1.6-5.3,3.7l-18.9,36.8c-1.2,2.3-1,5,0.5,7.1
					                                        c1.5,2.1,3.9,3.2,6.5,2.8l23.2-3c-20.4,35.5-65.1,49.3-101.5,30.7c-11.1-5.7-20.6-14-27.7-24.2c-7-10.1-20.3-13.1-31-7
					                                        c-5.7,3.3-9.8,8.8-11.3,15.2c-1.4,6.4-0.1,13.2,3.6,18.6c11.5,16.6,27.2,30.2,45.4,39.4c17.5,8.9,36.3,13.1,54.8,13.1
					                                        c43.9,0,86.6-23.7,109-64.8l11.5,21.1c1.2,2.2,3.6,3.5,6.1,3.6c2.5,0,4.8-1.5,6-3.7l18.9-36.8
					                                        C491.6,433.6,491.6,431.2,490.5,429.2z" />
                                                            <path d="M288.8,395.6l18.9-36.8c1.2-2.3,1-5-0.5-7.1c-1.5-2.1-3.9-3.2-6.5-2.8l-23.2,3c20.4-35.5,65.1-49.3,101.5-30.7
					                                        c11.1,5.7,20.6,14,27.7,24.2c7,10.1,20.3,13.1,31,7c5.7-3.3,9.8-8.8,11.3-15.2c1.4-6.4,0.1-13.2-3.6-18.6
					                                        c-11.5-16.6-27.2-30.2-45.4-39.4c-59.1-30-131.9-6.8-163.8,51.7l-11.5-21.1c-1.2-2.2-3.5-3.6-6-3.6c0,0-0.1,0-0.1,0
					                                        c-2.5,0-4.8,1.5-6,3.7l-18.9,36.8c-1,2-1,4.5,0.1,6.4l27.2,48.9c1.2,2.2,3.5,3.5,6,3.5c0.3,0,0.5,0,0.8,0l55.7-6.3
					                                        C285.8,399,287.8,397.6,288.8,395.6z" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                        <span>Сменить пароль</span>
                                    </a>
                                </div>
                            </div>
                            <form action="{% url 'personal' %}" method="post" class="form">
                            {% if user_social %}
                                 <div id="personal" >
                                    <div class="input-wrap">
                                        <label for="name">Имя:</label>
                                        <input type="text" id="name" name="first_name" value="{{ user_social.first_name }}">
                                        <span class='help-block'>{{ errors.first_name }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="last_name">Фамилия:</label>
                                        <input type="text" id="last_name" name="last_name" value="{{ user_social.last_name }}">
                                        <span class='help-block'>{{ errors.last_name }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="third_name">Отчество:</label>
                                        <input type="text" id="middle_name" name="middle_name" value="{{ request.user.middle_name }}">
                                        <span class='help-block'>{{ errors.middle_name }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="phone">Телефон:</label>
                                        <input type="text" id="phone" name="phone_number" value="{{ request.user.phone_number }}">
                                        <span class='help-block'>{{ errors.phone_number }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="email">E-mail:</label>
                                        <input type="text" id="email" name="email" value="{{ user_social.email }}">
                                        <span class='help-block'>{{ errors.email }}</span>
                                    </div>
                                </div>
                            {% else %}
                                 <div id="personal" >
                                    <div class="input-wrap">
                                        <label for="name">Имя:</label>
                                        <input type="text" id="name" name="first_name" value="{{ request.user.first_name }}">
                                        <span class='help-block'>{{ errors.first_name }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="last_name">Фамилия:</label>
                                        <input type="text" id="last_name" name="last_name" value="{{ request.user.last_name }}">
                                        <span class='help-block'>{{ errors.last_name }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="third_name">Отчество:</label>
                                        <input type="text" id="middle_name" name="middle_name"
                                        {% if request.user.middle_name %}
                                            value="{{ request.user.middle_name }}"
                                        {% else %}
                                            value=""
                                        {% endif %}>
                                        <span class='help-block'>{{ errors.middle_name }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="phone">Телефон:</label>
                                        <input type="text" id="phone" name="phone_number" value="{{ request.user.phone_number }}">
                                        <span class='help-block'>{{ errors.phone_number }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="email">E-mail:</label>
                                        <input type="text" id="email" name="email" value="{{ request.user.email }}">
                                        <span class='help-block'>{{ errors.email }}</span>
                                    </div>
                                </div>
                            {% endif %}
                                <div>
                                    <div class="input-wrap">
                                        <label for="city">Город доставки:</label>
                                        <input type="text" id="city" name="delivery_city"
                                        {% if account.delivery_city %}
                                            value="{{ account.delivery_city }}"
                                        {% else %}
                                            value=""
                                        {% endif %}>
                                        <span class='help-block'>{{ errors.delivery_city }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="address">Адрес доставки:</label>
                                        <input type="text" id="address" name="delivery_address"
                                        {% if account.delivery_address %}
                                            value="{{ account.delivery_address }}"
                                        {% else %}
                                            value=""
                                        {% endif %}">
                                        <span class='help-block'>{{ errors.delivery_address }}</span>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="delivery_method">Способ доставки
                                            <br>(по умолчанию):</label>
                                        <select name="delivery_way" id="delivery_method">
                                        {% for obj in delivery_ways %}
                                            <option value="{{ obj.name }}" {% if obj.name == account.delivery_way.name %}selected=""{% endif %}>{{ obj.name }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-wrap">
                                        <label for="payment_method">Способ оплаты
                                            <br>(по умолчанию):</label>
                                        <select name="" id="payment_method">
                                            <option value="">При доставке</option>
                                            <option value="">При доставке1</option>
                                            <option value="">При доставке12</option>
                                        </select>
                                    </div>
                                    <div class="submit-wrap">
                                    {% csrf_token %}
                                        <button type="submit" id="change_data" class="submit">Сохранить изменения</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="section">
                            <div class="section__top-line">
                                <div class="title title--balance">Мой баланс</div>
                            </div>
                            <div class="section__content">
                                <div class="private-balance">
                                {% get_solo 'content.ExchangeRate' as rate %}
                                    <div class="balance-wrap">
                                        <div class="title">Личный баланс:</div>
                                        <div class="amount">{{ account.balance }} $
                                            <span>({{ account.balance|recalculate_with_rate:rate.rate_sale|intcomma|replace_comma_with_space }} грн)</span>
                                        </div>
                                    </div>
                                    <div class="btns">
                                        <a href="#!" class="link withdraw">
                                            <span>Снять деньги с баланса</span>
                                            <svg class="out" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                                x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                xml:space="preserve">
                                                <polygon class="st0" points="174.6,0 487.9,0 487.9,512 174.6,512 174.6,414.5 390.4,414.5 390.4,97.5 174.6,97.5 " />
                                                <polygon class="st0" points="201.1,125.4 90.2,207.2 88.6,207.2 88.6,208.4 24.1,256 88.6,303.6 88.6,304.8 90.2,304.8 201.1,386.6 
	                                                201.1,304.8 358.4,304.8 358.4,207.2 201.1,207.2 " />
                                            </svg>
                                        </a>
                                        <a href="#!" class="link add-money">
                                            <span>Пополнение баланса</span>
                                            <img src="{% static 'img/balance_in.png' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="rate-wrap">
                                    <p class="title">Средний курс доллара:</p>
                                    <div class="rate">
                                        <div class="rate__top">
                                            <div class="name">Курс к гривне</div>
                                            <div class="buy">Покупка</div>
                                            <div class="sell">Продажа</div>
                                        </div>
                                        <div class="rate__main">
                                            <div class="name">Доллар</div>
                                            <div class="buy">{{ rate.rate_buy }}</div>
                                            <div class="sell">{{ rate.rate_sale }}</div>
                                        </div>
                                        <div class="rate__bottom">
                                            <span>*</span>03.10.2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section last-orders">
                            <div class="section__top-line">
                                <div class="title title--balance">Последние заказы</div>
                            </div>
                            <div class="section__content">
                                <div class="table">
                                    <div class="table__head">
                                        <div class="number">№</div>
                                        <div class="type">Тип заказа</div>
                                        <div class="amount">Кол-во товаров</div>
                                        <div class="sum">Сумма заказа</div>
                                        <div class="status">Статус заказа</div>
                                        <div class="tth">ТТН</div>
                                    </div>
                                    {% csrf_token %}
                                    <div class="table__body">
                                    {% for obj in orders %}
                                        <div class="row">
                                            <div class="input-wrap">
                                                <input type="checkbox" id="item" name="item">
                                                <label for="item">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                                        width="512px" height="512px" viewBox="0 0 442.533 442.533" style="enable-background:new 0 0 442.533 442.533;"
                                                        xml:space="preserve">
                                                        <g>
                                                            <path d="M434.539,98.499l-38.828-38.828c-5.324-5.328-11.799-7.993-19.41-7.993c-7.618,0-14.093,2.665-19.417,7.993L169.59,247.248   l-83.939-84.225c-5.33-5.33-11.801-7.992-19.412-7.992c-7.616,0-14.087,2.662-19.417,7.992L7.994,201.852   C2.664,207.181,0,213.654,0,221.269c0,7.609,2.664,14.088,7.994,19.416l103.351,103.349l38.831,38.828   c5.327,5.332,11.8,7.994,19.414,7.994c7.611,0,14.084-2.669,19.414-7.994l38.83-38.828L434.539,137.33   c5.325-5.33,7.994-11.802,7.994-19.417C442.537,110.302,439.864,103.829,434.539,98.499z"></path>
                                                        </g>
                                                    </svg>
                                                </label>
                                            </div>
                                            <div class="number">
                                                <div class="arrow">
                                                    <img src="{% static 'img/angle-arrow-down-small.png' %}" alt="">
                                                </div>
                                                {{ obj.id }}</div>
                                            <div class="type">{{ obj.delivery.delivery_way.name }}</div>
                                            <div class="amount">{{ obj.basket.count }}</div>
                                            {% if request.user.site %}
                                                <div class="sum">{{ obj.basket.calculate_sum_price }} $
                                                    <span> ({{ obj.basket.calculate_sum_convert_price }} грн)</span>
                                                </div>
                                            {% else %}
                                                <div class="sum">{{ obj.basket.calculate_sum_ppc_price }} $
                                                    <span> ({{ obj.basket.calculate_sum_convert_ppc_price }} грн)</span>
                                                </div>
                                            {% endif %}
                                            <div class="status green">{{ obj.status }}</div>
                                            {% if obj.cod %}
                                                <div class="tth">{{ obj.cod }}</div>
                                            {% else %}
                                                <div class="tth"> </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="{% static 'js/lk.personal.js' %}"></script>
{% endblock %}
