    <div class="input-wrap">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="first_name" value="{{ request.user.first_name }}">
    </div>
    <div class="input-wrap">
        <label for="last_name">Фамилия:</label>
        <input type="text" id="last_name" name="last_name" value="{{ request.user.last_name }}">
    </div>
    <div class="input-wrap">
        <label for="third_name">Отчество:</label>
        <input type="text" id="middle_name" name="middle_name" value="{{ request.user.middle_name }}">
    </div>
    <div class="input-wrap">
        <label for="phone">Телефон:</label>
        <input type="text" id="phone" name="phone_number" value="{{ request.user.phone_number }}">
    </div>
    <div class="input-wrap">
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" value="{{ request.user.email }}">
    </div>
</div>
<div>
    <div class="input-wrap">
        <label for="city">Город доставки:</label>
        <input type="text" id="city" name="delivery_city" value="{{ account.delivery_city }}">
    </div>
    <div class="input-wrap">
        <label for="address">Адрес доставки:</label>
        <input type="text" id="address" name="delivery_address" value="{{ account.delivery_address }}">
    </div>
    <div class="input-wrap">
        <label for="delivery_method">Способ доставки
            <br>(по умолчанию):</label>
        <select name="delivery_way" id="delivery_method">
        {% for obj in delivery_ways %}
            <option value="{{ obj.name }}" {% if obj.name == account.delivery_way.name %}active{% endif %}>{{ obj.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="input-wrap">
        <label for="payment_method">Способ оплаты
            <br>(по умолчанию):</label>
        <select name="" id="payment_method">
            <option value="">При доставке</option>
            <option value="">При доставке1</option>
            <option value="">При доставке12</option>
        </select>
    </div>
    <div class="submit-wrap">
    {% csrf_token %}
        <button type="submit" id="change_data" class="submit">Сохранить изменения</button>
    </div>
