{% load static %}

{% load custom_filters %}

{% load humanize %}

{% for obj in products %}
    <div class="tovar">
        <div class="tovar__img-wrap">
            <a href="#!" class="tovar__top-title">{{ obj.product.category.name }}</a>
            <img class="tovar__img" src="{{ images|get_first_image_url:obj.product.id }}" alt="ramki.png">
            {% if obj.product.credit %}
                    <div class="tovar__credit">Кредит {{ obj.product.credit }}%</div>
            {% endif %}
        </div>
    <div class="tovar__title">{{ obj.product.information|safe }}</div>
    <div class="tovar__middle-line">
        <div class="code">Код: {{ obj.product.code }} </div>
        <div class="available">
            {% include "check_mark.html" %}
            <span>В наличии</span>
        </div>
    </div>
    <div class="tovar__old-price">
        {% if obj.product.currency %} 
                {{ obj.product.get_convert_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} грн
        {% else %}
               {{ obj.product.ppc_price|floatformat:2|intcomma|replace_comma_with_space }} $
        {% endif %}
    </div>
    <div class="tovar__price-line">
        <div class="price">
            {% if obj.product.currency %}
                    {{ obj.get_new_convert_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} грн
            {% else %}
                    {{ obj.get_new_ppc_price|floatformat:2|intcomma|replace_comma_with_space }} $
            {% endif %}
        </div>
        <!-- <div class="convert">(25 243,40 грн)</div> -->
    </div>
    <form method="post">
    {% csrf_token %}
        <a href="#!" class="tovar__basket" id="tovar__basket{{ obj.product.id }}" data-url="{% url 'basket_session' %}" data-product="{{ obj.product.id }}" >
            <span>В корзину</span>
            {% include "basket_icon.html" %}
        </a>
    </form>
        <div class="tovar__additions">
            <ul>
                {% for model in obj.product.get_compatibility_models %}
                    <li>
                        <a>{{ model.name }} {{ model|get_first_last_years }}</a>
                    </li>
                    {% if forloop.counter == 8 %}
                        </ul>
                        <ul>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
                            
    {% if forloop.counter == 2 %}
    {% for ban in banners %}
    <div class="sales-block" style="font-size: 1.3em;" >
      <div>
        {{ ban.content|safe }}
      </div>
       <!-- <div class="sales-block__title">
            МЫ ДАРИМ
        </div>
        <div class="sales-block__percent">5%</div>
        <div class="sales-block__bottom">
            СКИДКИ НА ВСЕ ТОВАРЫ
        </div>-->
        <a href="#!" class="link">Подробнее
            {% include "right_arrow.html" %}
        </a>
    </div>
    {% endfor %}
    {% endif %}
{% endfor %}